name: release

on: push

jobs:

  upload:
    runs-on: ubuntu-latest
    container:
      image: centos:7
    permissions:
      id-token: write

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Build the package
      run: make

    - name: Look inside the sdist
      run: tar -tzf dist/llama_cpp_python_binary-*

    - uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist/*

    - name: Publish package distributions to PyPI
      if: startsWith(github.ref, 'refs/tags/v')
      uses: pypa/gh-action-pypi-publish@release/v1